#!/bin/bash
alias transfert="cd /home/mkovel/Documents/transfert"
alias cl="clear"
# alias c="clear"
alias c=showdate
alias cordless="/home/mkovel/cordless/cordless"
# alias gord="/home/mkovel/gord/gord"

alias python="python3"
alias py="python3"

alias work="cd ~/work"

alias gitpush="~/.scripts/gitpush"

alias clone="gh repo clone"

alias tma="tmux a"
alias tms="tmux source-file ~/.tmux.conf"
alias cleanVimSession="rm ~/.local/share/nvim/sessions/%home%mkovel* & "
# alias nv="(cleanVimSession) > /dev/null 2>&1; /snap/bin/nvim -p "
# alias nv="(cleanVimSession) > /dev/null 2>&1; /snap/bin/nvim -p "
# alias nv="/usr/bin/nvim -p"
alias nv="~/nvim.appimage -p"
# alias nv="/snap/bin/nvim -p"
# alias nvdiff="vimswitch; nv -d; vimswitch"
alias nvdiff="~/nvim.appimage -d"
alias nvd="nvdiff"
alias nvt="nv +FloatermToggle"
alias nvzsh="nv ~/.zshrc; reload"
alias nvinit="nv ~/.config/nvim/init.vim"
alias reload_torrent="scp /home/mkovel/Downloads/*.torrent mkovel@mkpi.local:/home/mkovel/.ratio_master/torrents"
alias reload="source ~/.zshrc"
alias dk="w3m https://duckduckgo.com"
alias gg="w3m https://google.com"
alias ygg="w3m yggtorrent.do"
alias cleanVim="rm ~/.local/state/nvim/swap/*"
# alias cleanVim="rm ~/.local/share/nvim/swap/*.swp* "
alias cloneGenie="git clone ssh://git@gitlab.ulb.be:30422/ulb-infof307/2023-groupe-3.git"
alias gp="git push"
alias gs="git status"
alias gl="git pull"
alias daemreload="sudo systemctl daemon-reload"
alias ssh="ssh -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no"
alias scp="scp -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no"
alias comandLine="sudo systemctl isolate multi-user.target"
alias graphics="sudo systemctl isolate graphical.target"
alias M="setfont /usr/share/consolefonts/Lat38-TerminusBold20x10.psf.gz"
# alias M="setfont /usr/share/consolefonts/Lat38-TerminusBold22x11.psf.gz"
# alias M="setfont /usr/share/consolefonts/Lat38-TerminusBold16.psf.gz"
alias m="setfont /usr/share/consolefonts/Lat38-Terminus12x6.psf.gz"
# alias b="acpi | cowsay -f stegosaurus"
# alias b="acpi | cowsay  -f bulbasaur"
alias d="date > /tmp/date; acpi >> /tmp/date; cat /tmp/date|cowsay -f bulbasaur; rm /tmp/date"
# alias battery="acpi"
alias shutdown="sudo shutdown now"
alias reboot="sudo reboot now"
alias meteo="curl wttr.in/bruxelles|less"
alias weather="curl wttr.in/bruxelles|less"
alias loadKeyboard="sudo loadkeys ~/.keymap"
# alias d="date | cowsay -f www"
# alias d="date | cowsay -f charmander"
alias nvimLua="rm -rf .config/nvim; mkdir .config/nvim; cp -r .config/nvimLuaOnly/* .config/nvim/ "
alias nvimclassic="rm -rf .config/nvim; mkdir .config/nvim; cp -r .config/oldNvim/* .config/nvim/ "
alias torrentDowload="sudo rtorrent -n -d /media/mkovel/9C33-6BBD"
# alias hibernate="sudo echo suspend in 3 secs; sleep 3 ;sudo pm-suspend"
alias l="exa -lhagH --octal-permissions"

alias cal="khal --color interactive"
alias generateMavenProject="~/.generateMavenProject.sh"
alias upgrade="sudo apt update && sudo apt upgrade"
# alias cat="bat"
alias dua="dua i"
alias rp="rip"
alias j="just"
alias jm="just make"
alias jr="just run"
alias jmr="just make run"
alias updateTmateiLinux="scp mkovel@192.168.1.17:~/airlinux.tmate ~/tmate/"
alias gdc="git difftool"
alias mc="make clean; make"
alias newTerm="xterm -bg black -fg white -fa 'Monospace' -fs 14 -fullscreen &"
alias firefox="firefox  2>/dev/null --new-tab "
alias restart="openbox --restart"
alias disconnect="pkill -u mkovel"
alias gpt="firefox chat.openai.com &"
alias discord="discord > /dev/null 2>/dev/null &"
alias pdflight="cp ~/.config/zathura/zathuraLight ~/.config/zathura/zathurarc"
alias pdfdark="cp ~/.config/zathura/zathuraDark ~/.config/zathura/zathurarc"
# alias ygg="firefox yggtorrent.com &"
alias ran="ranger"
alias disableMouse="xinput set-prop 11 328 1"
alias enableMouse="xinput set-prop 11 328 0"
alias scrollOff="xinput set-prop 11 326 0 0"
alias scrollOn="xinput set-prop 11 328 0;xinput set-prop 11 326 1 1"
alias spotify="flatpak run io.github.hrkfdn.ncspot"

alias matlab="octave"

# alias cleanPdf="(rp  *.aux ;rp *.log ;rp *.toc ;rp _minted-*) >/dev/null"
# alias cleanPdf="(rm *.aux *.log *.toc _minted-*) 1>/dev/null 2>/dev/null"
alias cleanPdf="(rm *.aux) 1>/dev/null 2>/dev/null; (rm *.log) 1>/dev/null 2>/dev/null; (rm *.toc) 1>/dev/null 2>/dev/null; (rm -rf _minted-*) 1>/dev/null 2>/dev/null; (rm *.bib) 1>/dev/null 2>/dev/null"
# alias cleanPDF2="(rm -rf _minted-* *.aux *.log *.toc *.bib) 1>/dev/null 2>/dev/null"
# alias cleanPdf="(rm -rf _minted-* *.aux *.log *.bib *.toc) 1>/dev/null 2>/dev/null"
alias clear="tput clear"
# alias cleanPdf3="(rm -rf _minted-* *.aux *.log *.bib) 1>/dev/null 2>/dev/null"
# alias clear="echo 'hello'"
# alias Date="echo $(date)"
# alias code="/home/mkovel/.local/share/JetBrains/Toolbox/scripts/idea 1>/dev/null 2>/dev/null &"
alias gobang="/home/mkovel/.gobang/target/debug/gobang"
alias cat="bat"
alias synergy="/usr/bin/synergy >/dev/null 2>/dev/null &"
alias telechargement="~/Téléchargements"
alias tel="cd ~/Téléchargements"
alias lz="lazygit"
# alias barrier="sudo b 2>\dev\null &"
alias barrier="sudo /usr/bin/barrier 2>/dev/null &"
alias nvtmux="nv /home/mkovel/.tmux.conf"
alias pipe="/home/mkovel/pipes.sh/pipes.sh"
alias chmox="chmod +x"
alias chmodx="chmod +x"
alias nvk="nv /home/mkovel/.config/nvim/lua/config/keymaps.lua"
alias config="cd /home/mkovel/.config"
alias nv.="nv ."
alias chmx="chmod +x"
alias sp="/home/mkovel/.keyrepeat.sh"
alias nvim="/usr/bin/nvim"
alias matrix="cmatrix -bsu 6"
alias ptest="pytest"
